<%= form_for(@name) do |f| %>
  <% if @name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@name.errors.count, "error") %> prohibited this name from being saved:</h2>

      <ul>
      <% @name.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sei %><br />
    <%= f.text_field :sei %>
  </div>
  <% if @name.sei != '' and @name.mei == '' %>
  <div >
  <% i = 0 %>
  <% @name.sei.each_char {|c| %>
  	<%= c -%>
	<%= radio_button_tag 'index', i+=1 -%>
  <% } %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :mei %><br />
    <%= f.text_field :mei %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
