<h1>Listing menuitems</h1>

<table>
  <tr>
    <th>Release</th>
    <th>Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @menuitems.each do |menuitem| %>
  <tr>
    <td><%= menuitem.release_id %></td>
    <td><%= menuitem.product_id %></td>
    <td><%= link_to 'Show', menuitem %></td>
    <td><%= link_to 'Edit', edit_menuitem_path(menuitem) %></td>
    <td><%= link_to 'Destroy', menuitem, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menuitem', new_menuitem_path %>
