<h1>改訂一覧<!-- Listing releases --></h1>

<table>
	<thead >
  <tr>
    <th>名前<!-- Name --></th>
    <th>発売中<!-- OnSale --></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
	</thead>
	<tbody >
<% @releases.each do |release| %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') -%>" >
    <td class="name" ><%= release.name %></td>
    <td class="on_sale" ><%= release.on_sale_flag -%></td>
    <td class="link" ><%= link_to '表示', release %></td>
    <td class="link" ><%= link_to '編集', edit_release_path(release) %></td>
    <td class="link" ><%= link_to '削除', release,
			confirm: '本当に削除してよろしいですか？', method: :delete %></td>
  </tr>
<% end %>
	</tbody>
</table>

<br />

<%= link_to '新規追加', new_release_path %>
